# This file configures editors using the EditorConfig
# scheme: https://editorconfig.org/

root = true

[*.{cpp,go,h,html,mjs,sh}]
charset = utf-8
end_of_line = lf
insert_final_newline = true
[{Makefile,meson.build,.clang-format,.editorconfig,.gitignore}]
charset = utf-8
end_of_line = lf
insert_final_newline = true

# Keep in sync with ClangFormat.
[*.{cpp,h}]
indent_size = 2
indent_style = space
max_line_length = 80

# Keep in sync with gofmt.
[*.go]
indent_size = tab
indent_style = tab
max_line_length = off

# Keep in sync with Prettier.
[*.{html,mjs}]
indent_size = 2
indent_style = space
max_line_length = 80

[*.sh]
indent_size = 2
indent_style = space

[meson.build]
indent_size = 2
indent_style = space
